body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    flex-basis: 120px;
    flex-grow: 0;
    flex-shrink: 0;
}
main {
    display: flex;
    flex-direction: row;
    flex-basis: calc(100vh - 240px);
    flex-grow: 1;
    flex-shrink: 1;

}

article {
    order:1;
    flex-grow: 1;
    flex-shrink: 1
}

nav {
    flex-basis: 240px;
    flex-grow: 0;
    flex-shrink: 0;
}

article {
    flex-basis: calc(100vw - 480px);
    flex-grow: 1;
    flex-shrink: 1;
}
aside {
    flex-basis: 240px;
    order: 3;
    flex-grow: 0;
    flex-shrink: 0;
}
footer {
    flex-basis: 120px;
    flex-grow: 0;
    flex-shrink: 0;
}