body {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}

nav {
    flex-basis:200px;
}

.col-2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-basis: 100%;
    flex-grow: 1;
    flex-shrink: 1;
}

main {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex-grow: 1;
    flex-shrink: 1;

}
article {
    flex-basis: 100%;
}

header {
    flex-basis: 100px;
    flex-grow: 0;
    flex-shrink: 0;
}

footer {
    flex-basis: 100px;
    flex-grow: 0;
    flex-shrink: 0;
}